:root {
  --color-primary: #0051ad;
  --color-secondary: #50e3c2;
  --color-tertiary: #5011a1;
  --color-quaternary: #ac0014;
  --color-quinary: #f5a623;
  --color-senary: #7ed321;
  --color-septenary: #bd10e0;
  --color-octonary: #f8e71c;
  --color-nonary: #343657;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
